:root {
    /* COLOR VARIABLES */
    --color-black: #0C0C0C; /* voor standaard tekst */
    --color-blue: #4845E5;
    --color-pink: #ED4385;
    --color-purple: #5722CD;
    --color-purple-light: #F2F0FF; /* voor de grote zwevende woorden, zoals "hello" en "services" */
    --color-grey: #7A7A7A; /* voor de service-tegel tekst */
    --color-grey-light: #F3F6F9; /* voor de achtergrond van de projecten */
}

/* CSS RESET */

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

/* FONT SIZE SETUP */

/*
 * Generated by clampgenerator.com
 * Font size: 14px to 20px
 * Viewport: 320vw to 1200vw
 */

html { font-size: 14px; }

:root {
    --cg-font-family-base: 'Inter', sans-serif;
    --cg-font-weight-base: 400;
    --cg-font-family-head: 'Inter', sans-serif;
    --cg-font-weight-head: 700;
    --cg-font-family-code: 'Roboto Mono', monospace;
    --cg-font-weight-code: 400;

    /*--cg-font-h1: clamp(1.77rem, calc(1.497rem + 1.382vw), 2.53rem);*/
    /*--cg-font-h2: clamp(1.58rem, calc(1.331rem + 1.229vw), 2.25rem);*/
    /*--cg-font-h3: clamp(1.40rem, calc(1.183rem + 1.092vw), 2.00rem);*/
    /*--cg-font-h4: clamp(1.25rem, calc(1.052rem + 0.971vw), 1.78rem);*/
    /*--cg-font-h5: clamp(1.11rem, calc(0.935rem + 0.863vw), 1.58rem);*/
    /*--cg-font-h6: clamp(0.98rem, calc(0.831rem + 0.767vw), 1.41rem);*/
    /*--cg-font-base: clamp(0.88rem, calc(0.739rem + 0.682vw), 1.25rem);*/
    /*--cg-font-small: clamp(0.78rem, calc(0.657rem + 0.606vw), 1.11rem);*/
    /*--cg-font-tiny: clamp(0.69rem, calc(0.584rem + 0.539vw), 0.99rem);*/
    /*--cg-font-code: clamp(0.78rem, calc(0.657rem + 0.606vw), 1.11rem);*/

    --cg-font-h1: 2.53rem;
    --cg-font-h2: 2.25rem;
    --cg-font-h3: 2.00rem;
    --cg-font-h4: 1.78rem;
    --cg-font-h5: 1.58rem;
    --cg-font-h6: 1.41rem;
    --cg-font-base: 1.25rem;
    --cg-font-small: 1.11rem;
    --cg-font-tiny: 0.99rem;
    --cg-font-code: 1.11rem;
}

/* Font Family Setup */
body, .cg-base {
    font-family: sans-serif;
    font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
    font-family: sans-serif;
    font-weight: 700;
}

code, .cg-code {
    font-family: monospace;
    font-weight: 400;
}

/* Typography Sizes with Variables */

.cg-giant {
    font-size: 20rem;
}

h1, .cg-h1 {
    font-size: var(--cg-font-h1);
}

h2, .cg-h2 {
    font-size: var(--cg-font-h2);
}

h3, .cg-h3 {
    font-size: var(--cg-font-h3);
}

h4, .cg-h4 {
    font-size: var(--cg-font-h4);
}

h5, .cg-h5 {
    font-size: var(--cg-font-h5);
}

h6, .cg-h6 {
    font-size: var(--cg-font-h6);
}

body, p, .cg-base {
    font-size: var(--cg-font-base);
}

small, .cg-small {
    font-size: var(--cg-font-small);
}

.tiny, .cg-tiny {
    font-size: var(--cg-font-tiny);
}

code, .cg-code {
    font-size: var(--cg-font-code);
}

.service-card-title {
    font-size: 1.6rem;
    color: var(--color-purple);
}

.service-card-text {
    max-width: 19rem;
}

/* STYLE */

body > div , section.mast {
    padding: 2em 0;
}

.nav-head, section.mast, section.hello, section.work, section.services, section.contact {
    max-width: 85%;
    margin: auto;
}

section.mast, section.hello, section.contact {
    * {
        max-width: 50rem;
        margin: auto;
        text-align: center;
    }
}

section.hello {
    .cg-h4 {
        padding: 1rem 0;
    }
}
section.hello > div {
    padding: 2rem 0;
}


/*header {*/
/*    color: var(--color-purple-light);*/
/*    background-color: var(--color-purple);*/

/*    section {*/
/*        max-width: 80%;*/
/*        margin: auto;*/
/*        justify-content: center;*/
/*    }*/
/*}*/



.nav-head ul {
    display: flex;
    justify-content: right;
    li {
        padding: 0 1rem;
    }
}

section.mast > * {
    padding: 1rem 0;
}

/* HELLO SECTION */

p.cg-h4 {
    color: var(--color-purple);
}


/*WORK SECTION*/
section.work > div > ul {
    padding: 10em 0;
}
img {
    width: 100%;
}

.image-wrapper {
    flex-basis: 800px;
    flex-grow: 0;
    flex-shrink: 1;
}

.project-card {
    display: flex;
    justify-content: space-between;
}

.project-info {
    display: flex;
    flex-basis: 50%;
    flex-grow: 0;
    flex-direction: column;
    justify-content: center;
    margin: 0 10rem;
}

/* SERVICES */

.ul-services {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.service-card {
    border-style: solid;
    border-width: 2px;
    border-color: #5722CD;
}

img.service-card-icon {
    max-width: 48px;
}

/* CONTACT SECTION */

section.contact {
    color: #ffffff;
    background-color: var(--color-purple);
}

/* FOOTER */

footer {
    color: #ffffff;
    background-color: var(--color-black);
    text-align: center;
}


/* COLOURS */
.fg-black {
    color: var(--color-black);
}

.fg-purple {
    color: var(--color-purple);
}

.fg-purple-light {
    color: var(--color-purple-light);
}

.fg-white {
    color: white;
}

.bg-purple {
    background-color: var(--color-purple);
}

.bg-grey-light {
    background-color: var(--color-grey-light);
}

.bg-white {
    background-color: white;
}

/*MISC*/

.z2 {
    z-index: 2;
}

.z1 {
    z-index: 1;
}

.pos-abs-mid {
    position: absolute;
    z-index: -1s;
}

.pos-rel {
    position: relative;
}